.advertCard {
  border: 1px solid rgba(16, 24, 40, 0.2);
  border-radius: 20px;
  padding: 24px;
  margin-bottom: 32px;
  display: flex;
  gap: 24px;
}
.camperImg {
  border-radius: 10px;
  width: 290px;
  height: 310px;
  object-fit: cover;
}
.camperInfo {
  width: 526px;
}
.camperMainInfo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
.name {
  font-size: 24px;
  line-height: 1.25;
}
.price {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.25;
}
.likeContainer {
  display: flex;
  gap: 10px;
  align-items: center;
}
.likeBtn,
.likeBtn:hover,
.likeBtn:focus {
  padding: 0;
  background-color: transparent;
}

.camperAddInfo {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
}
.iconsContainer {
  display: flex;
  gap: 4px;
  align-items: center;
}
.rating {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
.description {
  color: #475467;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 24px;
}
.amenitiesList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 24px;
  max-width: 80%;
}
.amenity {
  display: flex;
  gap: 8px;
  border-radius: 100px;
  padding: 12px 18px;
  background: #f2f4f7;
  mix-blend-mode: multiply;
}
.capitalize {
  text-transform: capitalize;
}
