button {
  border-radius: 200px;
  padding: 16px 40px;
  background: #e44848;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #fff;
  border: none;
}
button:hover,
button:focus {
  background: #d84343;
}
.react-datepicker > button:hover,
.react-datepicker > button:focus {
  background: none;
}
